; vim:fileencoding=utf8
-extends 'layout.haml'

-block regist_weight
  %form action="{{ url_for('regist_weight') }}"
    %div.form-group
      %label for='dayEntry'
        日付
      %input.form-control id='dayEntry' name='day' type='date' value='{{ data["today"] }}' \
             required='required'
    %div.form-group
      %label for='weightEntry'
        体重
      %input.form-control id='weightEntry' name='weight' type='number' step='0.1' \
             value='{{ data["weight"] }}' required='required'
    %div.form-group
      %label for='fatratioEntry'
        体脂肪率
      %input.form-control id='fatratioEntry' name='fatratio' type='number' step='0.1' \
             value='{{ data["fatratio"] }}'
    %button type='submit' class='btn btn-default'
      登録

-block view_weight
  %table.table.nth-child
    %thead
      %tr
        %th 
          日付
        %th 
          体重
        %th 
          体脂肪
    %tbody
      -for weight in data['weights']:
        %tr
          %td
            {{ weight['day'] }}
          %td
            {{ weight['weight'] }}
          %td
            {{ weight['fatratio'] if weight['fatratio'] else '' }}

-block regist_photo
  %form action="{{ url_for('regist_photo') }}" method='post' enctype='multipart/form-data'
    %div.form-group
      %label for='photoEntry'
        写真
      %input.form-control id='photoEntry' name='photo' type='file' required='required'
    %button type='submit' class='btn btn-default'
      登録

  
-block view_photo
  -for photo in data['photos']:
    %div.panel.panel-success
      %div.panel-heading
        %div.panel-title
          {{photo['date']}} [ {{photo['make']}} / {{photo['model']}} ]
      %div.panel-body
        %img.img-thumbnail src="{{ url_for('get_photo', id=photo['id']) }}"

